In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

סעיפים 1+2

In [3]:
URL="https://books.toscrape.com/"
page= requests.get(URL)
bs= BeautifulSoup(page.content, "html.parser")

all=bs.find_all("article", class_="product_pod")
# name=all.find("img").get('alt')
# print(name)
# stars=all.find("p", class_="star-rating").get("class")[1]
# print(stars)
# price=all.find("p", class_="price_color").text[1:]
# print(price)

In [4]:
dataframe_books=[]
for item in all:
    info={}
    info['Title'] =item.find("img").get('alt')
    info['Stars'] =item.find("p", class_="star-rating").get("class")[1]
    info['Price'] =item.find("p", class_="price_color").text[1:]
    dataframe_books.append(info)
df1 =pd.DataFrame(dataframe_books)
df1

                                                Title  Stars  Price
0                                A Light in the Attic  Three  51.77
1                                  Tipping the Velvet    One  53.74
2                                          Soumission    One  50.10
3                                       Sharp Objects   Four  47.82
4               Sapiens: A Brief History of Humankind   Five  54.23
5                                     The Requiem Red    One  22.65
6   The Dirty Little Secrets of Getting Your Dream...   Four  33.34
7   The Coming Woman: A Novel Based on the Life of...  Three  17.93
8   The Boys in the Boat: Nine Americans and Their...   Four  22.60
9                                     The Black Maria    One  52.15
10     Starving Hearts (Triangular Trade Trilogy, #1)    Two  13.99
11                              Shakespeare's Sonnets   Four  20.66
12                                        Set Me Free   Five  17.46
13  Scott Pilgrim's Precious Little Life (Scott Pi...   Five  52.29
14                          Rip it Up and Start Again   Five  35.02
15  Our Band Could Be Your Life: Scenes from the A...  Three  57.25
16                                               Olio    One  23.88
17  Mesaerion: The Best Science Fiction Stories 18...    One  37.59
18                       Libertarianism for Beginners    Two  51.33
19                            It's Only the Himalayas    Two  45.17

In [5]:
df1['Price'] = pd.to_numeric(df1['Price'], errors='coerce') 
df1.dtypes

Title     object
Stars     object
Price    float64
dtype: object

סעיף 3

In [6]:
from urllib.parse import urljoin
URL="https://books.toscrape.com/"
dataframe_all=[]
for i in range(1,51):
    page= requests.get(URL)
    bs= BeautifulSoup(page.content, "html.parser")
    all=bs.find_all("article", class_="product_pod")
    for item in all:
        info={}
        info['Title'] =item.find("img").get('alt')
        info['Stars'] =item.find("p", class_="star-rating").get("class")[1]
        info['Price'] =item.find("p", class_="price_color").text[1:]
        dataframe_all.append(info)
    url = urljoin(URL,'/catalogue/page-'+str(i)+'.html')  
df_all1=pd.DataFrame(dataframe_all)
df_all1

                                                 Title  Stars  Price
0                                 A Light in the Attic  Three  51.77
1                                   Tipping the Velvet    One  53.74
2                                           Soumission    One  50.10
3                                        Sharp Objects   Four  47.82
4                Sapiens: A Brief History of Humankind   Five  54.23
..                                                 ...    ...    ...
995  Our Band Could Be Your Life: Scenes from the A...  Three  57.25
996                                               Olio    One  23.88
997  Mesaerion: The Best Science Fiction Stories 18...    One  37.59
998                       Libertarianism for Beginners    Two  51.33
999                            It's Only the Himalayas    Two  45.17

[1000 rows x 3 columns]

סעיף 4

In [7]:
df_all1.to_csv('books_all.csv',header=True)

סעיף 5

In [8]:
df_cheak = pd.read_csv('books_all.csv')
len(df_cheak.index)

1000

סעיף 6

In [9]:
df_all1['Price'] = pd.to_numeric(df_all1['Price'], errors='coerce') 
mean=df_all1["Price"].mean() #המחיר הממוצע
std=df_all1['Price'].std(axis=None, level=None, ddof=1, numeric_only=None)  
print(f"mean is: {mean}, std is: {std}")

mean is: 38.0485, std is: 14.759379459585421

סעיף 7

In [10]:
df_all1=df_all1.replace('One',1)
df_all1=df_all1.replace('Two',2)
df_all1=df_all1.replace('Three',3)
df_all1=df_all1.replace('Four',4)
df_all1=df_all1.replace('Five',5)

mean_stars=df_all1["Stars"].mean()
print(f"mean is:{mean_stars}")

mean is:2.85

In [11]:
df_new=df_all1[(df_all1['Price']>50) | (df_all1['Stars']>3)]
df_new
print(f" books remain: {len(df_new.index)}\n ave price: {df_new['Price'].mean()} \n min price: {df_new['Price'].min()}")
df_new.to_csv('books_all_updated.csv',header=True)

 books remain: 700
 ave price: 42.84
 min price: 17.46